@model Glossary

<form method="post">
    <div class="border p-3 pb-2">
            <h3 class="text-primary">Add a Glossary</h3>
            <hr/>
        <div class="mb-3 row p-1">
            <label class="text-primary p-0" asp-for="Term"></label>
            <input asp-for="Term" type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="text-primary p-0" asp-for="Definition"></label>
            <input asp-for="Definition" type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-outline-primary  form-control">Add</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Glossary" asp-action="Index" class="btn btn-outline-secondary form-control" style="background-color:#F7F7F9 color:black">Back to list</a>
            </div>
        </div>
    </div>
</form>