@model Glossary

<form method="post">
    <!-- This field below ensures that the correct Id will be populated for update -->
    <input asp-for="GlossaryId" hidden />
    <div class="border p-3 pb-2">
        <h3 class="text-primary"><h3>Edit Glossary number @Model.GlossaryId: @Model.Term</h3></h3>
        <hr />
        <div class="mb-3 row p-1">
            <label class="text-primary p-0" asp-for="Term"></label>
            <input asp-for="Term" type="text" class="form-control"/>
            <span asp-validation-for="Term" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="text-primary p-0" asp-for="Definition"></label>
            <input asp-for="Definition" type="text" class="form-control" />
            <span asp-validation-for="Definition" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-outline-primary  form-control">Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Glossary" asp-action="Index" class="btn btn-outline-secondary form-control" style="background-color:#F7F7F9 color:black">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}