@model List<Glossary>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Glossary List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Glossary" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-clipboard2-plus">+</i> Add a Glossary
            </a>
            <i class="bi bi-clipboard2-plus"></i>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <th scope="row">@obj.GlossaryId</th>
                    <td>@obj.Term</td>
                    <td>@obj.Definition</td>
                </tr>
            }
        </tbody>
    </table>
</div>
